.links {
  display: flex;
  margin: 15px 15px;
  padding: 8px;
  gap: 10px;
  font-size: 14px;
  justify-content: end;
}

.links a {
  color: #fff;
}

.links a:hover {
  text-decoration: underline;
}

.links .button {
  padding: 6px 12px;
  background-color: #4688f1;
  border-radius: 5px;
}
